@import 'bootstrap-sass/lib/bootstrap';


html, body { height:100%; }

.navbar {
	margin: 0;
	border-radius: 0;
}
#map-canvas {
	padding-top: 20px;
	padding-left: 12px;
	font-size: 24px;
	font-weight: 700;

	span {
		font-size: 24px;
	}
}
#map-canvas > div{ 
	height: 60px;
	width: 66%;
}
.tweet-container {
	height: 100%;
	width: 33%;
	float: right;
	margin-top: -50px;
	padding-top: 50px;

	.tweets {
		height: 100%;
		overflow-y: scroll;
	}
}