@import 'bootstrap-sass/lib/bootstrap';


html, body { height:100%; }

.navbar {
	margin: 0;
	border-radius: 0;
}
#map-canvas { 
	height: 100%; 
	width: 66%;
}
.tweet-container {
	height: 100%;
	width: 33%;
	float: right;
	margin-top: -50px;
	padding-top: 50px;

	.tweets {
		height: 100%;
		overflow-y: scroll;
	}
}