@import 'bootstrap-sass/lib/bootstrap';


html, body { height:100%; }

.navbar {
	margin: 0;
	border-radius: 0;
}
#map-canvas {
	height: 300px;
	width: 100%;
	float: left;
}
#map-canvas > div{ 
	height: 60px;
	width: 66%;
}


/*///////////////////////////////////////////

			TWEET STYLES

///////////////////////////////////////////*/


#tweet-feed {
	height: 300px;
	width: 30%;
	float: right;
	display: none;
}

.tweet {
	padding: 12px 15px 0 12px;
	border-top: 1px solid #e9e9e9;
	.avatar {
		float: left;
		width: 60px;

		img {
			border-radius: 5px;
			width: 48px;
			height: 48px;
		}
	}
	.user {
		position: relative;
		top: -3px;
	}
	.user a {
		font-weight: 700;
		font-size: 15px;
		color: #333;
		text-transform: capitalize;

		&:hover {
			text-decoration: none;
		}
	}
	.user span, .time {
		font-weight: 300;
		font-size: 13px;
		color: #aaa;
	}
	.time {
		float: right;
		margin-top: -3px;
	}
	.text {
		margin-left: 60px;
		p {
			margin-top: -3px;
		}
	}

	
}

/*///////////////////////////////////////////

			GRID VIEW STYLES

///////////////////////////////////////////*/


#block-view {
	width: 100%;
	float: left;
}
.nbhood {
	float: left;
	width: 25%;
	height: 70px;
	padding-top: 11px;
	background-color: whiteSmoke;
	color: white;
	text-align: center;
	border-right: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	position: relative;
	
	&:hover {
		cursor: pointer;
	}
	.count {
		padding: 10px 0;
		width: 38px;
		height: 38px;
		border-radius: 20%;
		float: left;
		text-align: center;
		margin: 5px 0 0 11px;
	}
	hgroup {
		margin-left: -58px;
	}
	h4 {
		margin: 4px 0;
		font-size: 16px;
		color: rgba(0,0,0,.7);
		font-weight: 900;
	}
	h5 {
		margin: 0;
		font-size: 14px;
		color: rgba(0,0,0,.5);
	}
}

.map-key {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;

	li {
		width: 20%;
		display: inline-block;
		text-align: center;
		padding: 10px 0;
	}
}






