.env.development
node_modules
temp
dist
.sass-cache
app/components
public/components
.tmp/
npm-debug.log
./server/twitterFeed/140dev/db/pt.log
./server/twitterFeed/140dev/db/gt.log
./server/twitterFeed/140dev/db/error_log.txt
cityTags_config.php
scripts/init.js
config.ru