<div id="sort-by">
  <div id="suggest">
    <input id="suggest-field" placeholder="Suggest a hashtag, ex. #midtownsac" size="40" type="text"/>
    <button id="suggest-submit">Suggest</button>
  </div>
  <div class="search">
    <span class="glyphicon glyphicon-search"></span>
    <input id="nbhood-search" placeholder="Search Neighborhoods">
  </div>
  <ul>
    <li class="sort-high" data-tooltip="Tweets High to Low"><div class="glyphicon glyphicon-sort-by-attributes-alt"></div></li>
    <li class="sort-low" data-tooltip="Tweets Low to High"><div class="glyphicon glyphicon-sort-by-attributes"></div></li>
    <li class="sort-a" data-tooltip="Neighborhoods A to Z"><div class="glyphicon glyphicon-sort-by-alphabet"></div></li>
    <li class="sort-z" data-tooltip="Neighborhoods Z to A"><div class="glyphicon glyphicon-sort-by-alphabet-alt"></div></li>
  </ul>
</div>