<ul>
    <li class="search-location">
        <div class="glyphicon glyphicon-search toggle-search"></div>
        <div id="search-panel">
            <input id="search-box" type="text" placeholder="Find your address in Sacramento, CA">
            <button class="btn btn-default">Search</button>
        </div> 
    </li>
    <li class="zoom-in"><div class="glyphicon glyphicon-plus"></div></li>
    <li class="zoom-out"><div class="glyphicon glyphicon-minus"></div></li>
    <!-- <li class="geo-location"><div class="glyphicon glyphicon-send"></div></li> -->
</ul>
