<ul>
    <li class="zoom-in"><div class="glyphicon glyphicon-plus"></div></li>
    <li class="zoom-out"><div class="glyphicon glyphicon-minus"></div></li>
    <li class="search-location"><div class="glyphicon glyphicon-search"></div></li>
    <li class="geo-location"><div class="glyphicon glyphicon-send"></div></li>
</ul>