<div id="modal">
	<div class="close-modal glyphicon glyphicon-remove-circle"></div>
	<p>Your address <span>{{ place.name }}</span> is in the <span>{{ name }}</span> neighborhood!</p>
	<div class="button-wrapper">
		<button class="show-tweets"><span class="glyphicon glyphicon-map-marker"></span>Show on Map</button><button class="watch-nbhood"><span class="glyphicon glyphicon-star"></span>Watch this Neghborhood</button>
	</div>
</div>