<div id="modal">
	<div class="close-modal icon-remove"></div>
	<h5>Sorry!</h5>
	<p>Sorry, but we aren't watching your neighborhood <br>at <span>{{ place.name }}</span> yet. Not all is lost, you can suggest a hashtag for your neighborhood below.</p>
	<div class="button-wrapper">
		
	</div>
</div>