<span class="count">{{ COUNT }}</span>
<hgroup>
<h4>{{ NAME2 }}</h4>
<h5>#{{ hashtag }}</h5>
</hgroup>
<div class="watched-nbhood">
	<ul>
		<li><span class="glyphicon glyphicon-star"></span> watched</li>
		<li><span class="new-tweets">5</span> new tweets</li>
	</ul>
</div>
