<div class="tweet-header">
    <div class="current-hashtag">
        <div class="icon-twitter"></div>
        <span>Showing all Tweets</span>
    </div>
    <div class="sort-tweets">
        <div class="date">date</div>
    </div>
</div>
<div class="tweet-container">
        
</div>
<div id="loader" class="tweet-loader">
    <div class="loadable loading"> 
        <div class="loadable-content"></div> 
        <div class="loadable-progress"> 
            <img class="loader-hexagon" src="assets/images/hexagon-light.svg">
            <div class="loading-spinner"></div>
        </div>
    </div>
</div>