<div class="tweet-header">
    <div class="current-hashtag">
        <div class="icon-twitter"></div>
        	<span>Showing all Tweets</span>
    	</div>
    </div>
<div class="tweet-container">
        
</div>