@import url("normalize.css");
@import url("pace-theme-flat-top.css");

* { box-sizing: border-box }
html, body {
  height: 100%;
}

.navbar {
  margin: 0;
  border-radius: 0;
}

/*/////////////////////////////
      google maps canvas
/////////////////////////////*/

#map-canvas {
  height: 340px;
  width: 100%;
  float: left;
}
#map-canvas > div{
  height: 60px;
  width: 66%;
}

/* loading data popup */

.loadable.loading .loadable-content {
  display: none;
}

.loadable.loading .loadable-progress {
  display: block;
}

.loading-spinner {
   height:40px;
   width:40px;
   margin:0 auto;
   position:relative;
   margin: 5px auto 10px;
   -webkit-animation: rotation .6s infinite linear;
   -moz-animation: rotation .6s infinite linear;
   -o-animation: rotation .6s infinite linear;
   animation: rotation .6s infinite linear;
   border: 2px solid rgba(0,0,0,0);
   box-shadow: 0 0 0 1px rgba(0,0,0,.15);
   border-radius:100%;
}

.loading-spinner:before {
   content:"";
   display:block;
   position:absolute;
   /*left:-5px;
   top:-5px;*/
   height:100%;
   width:100%;
   border-top:13px solid rgba(0,0,0,.3);
   border-left:13px solid transparent;
   border-bottom:13px solid transparent;
   border-right:13px solid transparent;
   border-radius:100%;

}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
#loader {
  position: absolute;
  border-radius: 4px;
  width: 400px !important;
  background: rgba(121,189,154,.95);
  top: 100px;
  left: calc(50% - 200px);
  text-align: center;
  color: white;
  font-size: 14px;
  letter-spacing: .07em;
  padding: 15px;
}


/*/////////////////////////////
        header and nav
/////////////////////////////*/

header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  pointer-events: none;
}
header h1 {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: white;
  font-weight: 500;
  text-align: center;
  margin: 10px;
  padding: 10px;
  width: 170px;
}
header nav {
  position: absolute;
  right: 4px;
  top: -4px;
  pointer-events: auto;
}

/* navigation */

.navigation > li {
  display: inline-block;
  margin-right: 6px;
  background-color: tomato;
  font-size: 16px;
  border-radius: 2px;
  height: 43px;
  overflow: hidden;
  color: white;
}
.navigation > li > .glyphicon {
  float: left;
  padding: 11px 14px 16px;
  border-right: 0px solid rgba(0, 0, 0, 0.1);
}
.navigation > li > .glyphicon:hover {
  cursor: pointer;
}

/* navigation drop-down menu */

.drop-down {
  list-style: none;
  position: absolute;
  right: 6px;
  top: 66px;
  width: 200px;
  background-color: white;
  border-radius: 2px;
  padding: 0;
  display: none;
  opacity: 0;
}
.drop-down li {
  padding: 6px 12px;
}
.drop-down li a {
  font-size: 14px;
  text-decoration: none;
}

/* address search panel */

#search-panel {
  margin: 6px 0;
  padding-right: 6px;
  width: 90%;
  float: right;
  display: none;
}
#search-panel h1 {
  color: #333;
  font-size: 30px;
  font-weight: 700;
  font-family: 'lato';
  padding-bottom: 15px;
}
#search-panel input, #search-panel button {
  border: 1px solid #DD573F;
  border-radius: 5px;
  font-size: 13px;
  height: 31px;
  float: left;
}
#search-panel input {
  width: 69%;
  padding: 6px 15px 5px;
  margin-right: 1%;
}
#search-panel input:focus {
  outline: 0;
}
#search-panel button {
  background-color: tomato;
  padding: 5px 5px 5px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px tomato;
  width: 30%;
}


/*/////////////////////////////
    map key/range indicator
/////////////////////////////*/

.map-key {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
.map-key li {
  width: 20%;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  padding: 7px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 0px;
  /*box-shadow: inset 0px -10px 15px rgba(0, 0, 0, 0.04), inset 0px 1px 1px rgba(255, 255, 255, 0.13);*/
}
.map-key li:hover {
  cursor: pointer;
}
.map-key li:last-child {
  color: #000;
}


/*/////////////////////////////
        tweet feed
/////////////////////////////*/

#tweet-feed {
  height: 300px;
  width: 25%;
  float: left;
  position: relative;
  display: none;
}
#tweet-feed .tweet-header {
  height: 52px;
}
#tweet-feed h5 {
  padding: 18px 10px;
  margin: 0;
}
.tweet {
  padding: 12px 15px 0 12px;
  border-top: 1px solid #e9e9e9;
}
.tweet .avatar {
  float: left;
  width: 60px;
}
.tweet .avatar img {
  border-radius: 5px;
  width: 48px;
  height: 48px;
}
.tweet .user {
  position: relative;
  top: -3px;
}
.tweet .user a {
  font-weight: 700;
  font-size: 15px;
  color: #333;
  text-transform: capitalize;
}
.tweet .user a:hover {
  text-decoration: none;
}
.tweet .user span, .tweet .time {
  font-weight: 300;
  font-size: 13px;
  color: #aaa;
}
.tweet .time {
  float: right;
  margin-top: -3px;
}
.tweet .text {
  margin-left: 60px;
}
.tweet .text p {
  margin-top: -3px;
}



/*/////////////////////////////
      neighborhood display
/////////////////////////////*/

#block-view {
  width: 100%;
  float: left;
}
.nbhood {
  float: left;
  width: 25%;
  height: 70px;
  padding-top: 11px;
  background-color: white;
  color: white;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.nbhood:hover {
  cursor: pointer;
}
.nbhood .count {
  padding: 11px 0;
  width: 44px;
  height: 44px;
  border-radius: 5px;
  font-weight: 400;
  float: left;
  position: relative;
  text-align: center;
  margin: 2px 0 0 10px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
}
.nbhood hgroup {
  position: relative;
  left: -10px;
}
.nbhood h4 {
  margin: 4px 0;
  line-height: 1em;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
}
.nbhood h5 {
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.nbhood[data-range="0"] .count {
  background-color: #cff09e;
}

.nbhood[data-range="1"] .count {
  background-color: #a8dba8;
}

.nbhood[data-range="2"] .count {
  background-color: #79bd9a;
}

.nbhood[data-range="3"] .count {
  background-color: #3b8686;
}

.nbhood[data-range="4"] .count {
  background-color: #0b486b;
}

.nbhood[data-range="0"]:hover {
  background-color: #cff09e;
}

.nbhood[data-range="1"]:hover {
  background-color: #a8dba8;
}

.nbhood[data-range="2"]:hover {
  background-color: #79bd9a;
}

.nbhood[data-range="3"]:hover {
  background-color: #3b8686;
}

.nbhood[data-range="4"]:hover {
  background-color: #0b486b;
}

.nbhood[data-range="0"]:hover .count {
  border: 2px solid #dcfc9e;
}

.nbhood[data-range="1"]:hover .count {
  border: 2px solid #aae7a8;
}

.nbhood[data-range="2"]:hover .count {
  border: 2px solid #86c99a;
}

.nbhood[data-range="3"]:hover .count {
  border: 2px solid #479286;
}

.nbhood[data-range="4"]:hover .count {
  border: 2px solid #17546b;
}

/*/////////////////////////////
  neighborhood map info-box
/////////////////////////////*/

.infoBox:after {
  border: 2px solid #d2d2d2;
  background-color: rgba(255, 255, 255, 0.94);
  width: 20px;
  height: 20px;
  border-radius: 6px;
  position: absolute;
  right: 4px;
  margin-top: 21px;
  z-index: 1000;
  color: rgba(0, 0, 0, 0.2);
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  content: "\e014";
  pointer-events: none;
}

.info-box {
  width: 300px;
  height: 67px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.98);
}
.info-box span {
  font-family: sans-serif;
  font-size: 13px;
  padding-top: 11px !important;
  font-weight: 700;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  top: -1px;
  left: 2px;
}
.info-box:before {
  content: '';
  position: absolute;
  left: -10px;
  top: 22px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(255, 255, 255, 0.94);
}


/*/////////////////////////////
neighborhood display sorting
/////////////////////////////*/

#sort-by {
  padding: 5px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#sort-by ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#sort-by li {
  padding: 3px 5px 6px;
  height: 36px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #eee;
  display: inline-block;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.25);
  position: relative;
}
#sort-by li:hover {
  background-color: #ddd;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#sort-by span {
  position: relative;
  top: -6px;
  color: inherit;
  margin: 0 5px 0 10px;
}
#sort-by li:after {
  content: attr(data-tooltip);
  position: absolute;
  font-size: 12px;
  bottom: 110%;
  left: -135%;
  background: black;
  padding: 5px 15px;
  color: whiteSmoke;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  white-space: nowrap;
  opacity: 0;
  /* At time of this creation, only Fx4 doing pseduo transitions */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}
#sort-by li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 8px solid black;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  /* At time of this creation, only Fx4 doing pseduo transitions */
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  opacity: 0;
  left: 50%;
  margin-left: -8px;
  bottom: 90%;
}
#sort-by li:hover:after, #sort-by li:hover:before {
  opacity: 1;
}
#sort-by .search {
  float: right;
  margin-right: 5px;
  position: relative;
}
#sort-by .search input {
  padding: 8px 15px 7px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 18px;
}
#sort-by .search input:focus {
  outline: none;
}
#sort-by .search .ui-helper-hidden-accessible {
  display: none;
}


/*/////////////////////////////
neighborhood search autocomplete
/////////////////////////////*/

#ui-id-1 {
  position: absolute;
  margin: 0;
  padding: 6px 0;
  margin-bottom: -5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  list-style: none;
  background-color: white;
}
#ui-id-1 li {
  padding: 6px 15px;
}
#ui-id-1 li a:hover {
  text-decoration: none;
  color: #428bca;
}
#ui-id-1 li:hover {
  background-color: whiteSmoke;
  cursor: pointer;
}

.infoBox img {
  position: absolute;
  opacity: 0;
  top: 21px;
  left: -4px;
  z-index: 100;
}


